<template>
  <div id="app">
    Irham Nur Hakim
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      visible: false
    }
  },
  methods: {
    handleUserClick: function() {
      this.visible = !this.visible;
    }
  }
}
</script>

<style scoped>

</style>
